<div class="intro-about-container">
  <div class="intro-about-card">
    <div class="intro-about-text">
      <h2>Sobre mí</h2>
      <p>
        Desde el inicio de la pandemia, busqué mantenerme activa y saludable. Poco a poco, me enamoré del mundo fitness y decidí prepararme profesionalmente para ayudar a otras personas a lograr sus objetivos, compartiendo mis conocimientos y pasión por el entrenamiento y la nutrición.
      </p>
      <a class="intro-about-link" href="/about-me">Ver más sobre mí &rarr;</a>
    </div>
    <img src="assets/profile_photo.jpeg" alt="Foto de Aranza Mondragón" class="intro-about-img">
  </div>
</div>
