.about-area {
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: var(--whiteColor);
    overflow: hidden;
    
    &::before {
        content: '';
        position: absolute;
        top: 5%;
        left: -3%;
        width: 260px;
        height: 320px;
        background: linear-gradient(145deg, rgba(255, 217, 220, 0.4), rgba(255, 217, 220, 0.15));
        border-radius: 40px;
        z-index: 0;
    }
    
    &::after {
        content: '';
        position: absolute;
        bottom: 0%;
        right: -2%;
        width: 220px;
        height: 260px;
        background: linear-gradient(145deg, rgba(255, 217, 220, 0.35), rgba(255, 217, 220, 0.12));
        border-radius: 30px;
        z-index: 0;
    }
    
    .container {
        position: relative;
        z-index: 1;
    }
    
    .row {
        justify-content: center;
    }
}
.about-image {
    position: relative;
    text-align: center;
    z-index: 1;

    img {
        animation: movebounce 5s linear infinite;
    }
}
.about-content {
    h3 {
        font-size: 52px;
        margin-bottom: 15px;
    }
    p {
        font-size: 21px;
        line-height: 1.8;
    }
    .about-checklist {
        margin-top: 25px;

        p {
            font-size: 20px;
            line-height: 1.7;
            margin-bottom: 6px;
        }

        .about-checklist-final {
            margin-top: 10px;
            font-weight: 700;
            font-size: 22px;
        }
    }

    .list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
            top: 25px;
        };
        li {
            margin-bottom: 14px;
            text-transform: capitalize;
            color: var(--blackColor);
            position: relative;
            padding-left: 22px;
            font: {
                size: 21px;
                weight: 500;
                family: var(--headingFontFamily);
            };
            &:last-child {
                margin-bottom: 0;
            }
            i {
                font-size: 16px;
                color: var(--mainColor);
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .about-area {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .about-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .about-title-mobile {
            font-size: 28px;
            margin-bottom: 20px;
            line-height: 1.3;
            order: 1;
            width: 100%;
        }

        .about-text-mobile {
            margin-top: 36px;
            text-align: left;
            max-width: 320px;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
        }

        p {
            font-size: 17px;
            line-height: 1.6;
            margin-bottom: 12px;
        }

        .about-checklist {
            margin-top: 20px;
            text-align: left;

            p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 5px;
                text-align: left;
                padding-left: 0;
                
                &:first-child {
                    text-align: center;
                }
            }

            .about-checklist-final {
                margin-top: 8px;
                font-size: 18px;
                text-align: center;
            }
        }

        .list {
            margin-top: 20px;

            li {
                padding-left: 0;
                font-size: 15px;
                margin-bottom: 10px;

                i {
                    font-size: 14px;
                    position: relative;
                    top: 0;
                }
            }
        }
    }

    .about-image {
        order: 2;
        margin-top: 0;
        margin-bottom: 24px;

        img {
            max-width: 180px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .about-area {
        padding-top: 80px;
        padding-bottom: 25px;
    }
    .about-content {
        text-align: center;
        margin-bottom: 35px;

        h3 {
            font-size: 40px;
        }
        
        p {
            font-size: 20px;
        }
        .list {
            li {
                padding-left: 0;
                font-size: 18px;

                i {
                    font-size: 16px;
                    position: relative;
                    top: 0;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .about-content {
        h3 {
            font-size: 48px;
        }
        
        p {
            font-size: 20px;
        }
    }

}