<section id="features" class="features-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="section-title" *ngFor="let sectionTitleContent of sectionTitle;">
                    <h2>
                        <span class="brand-text">
                            <span class="brand-line-1">THE CONFIDENCE</span>
                            <span class="brand-line-2">METHOD</span>
                        </span>
                    </h2>
                    <p [innerHTML]="sectionTitleContent.paragraphText"></p>
                    <ul class="benefits-list" *ngIf="sectionTitleContent.listItems">
                        <li *ngFor="let item of sectionTitleContent.listItems">{{item}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let FeaturesContent of singleBookFeatures; let i = index;">
                        <div class="single-features" (click)="toggleFeature(i)" [class.expanded]="isFeatureExpanded(i)">
                            <div class="icon">
                                <i class="{{FeaturesContent.icon}}"></i>
                            </div>
                            <h3>{{FeaturesContent.title}}</h3>
                            <p class="feature-paragraph" [innerHTML]="FeaturesContent.paragraph"></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>