<div class="main-profile-container">
  <img src="assets/img2.png" class="main-profile-img">
  <div class="main-profile-text">
    Ayudo a <b>mujeres</b> a crecer glúteos,<br>
lucir su abdomen y ganar confianza<br>
<span class="main-profile-text-highlight">SIN renunciar a sus gustos</span>
    <br>
    <div class="main-profile-cta">
      ¡Quiero transformar mi cuerpo!
    </div>
  </div>
</div>
<app-intro-about></app-intro-about>
<app-intro-changes></app-intro-changes>
<app-intro-testimonials></app-intro-testimonials>
<app-cta></app-cta>