.quote-area {
    padding: {
        top: 40px;
        bottom: 40px;
    };
    background-color: #2a2a2a;
}

.quote-content {
    text-align: center;
    
    p {
        font-size: 32px;
        font-weight: 700;
        font-family: var(--mainFontFamily);
        color: var(--whiteColor);
        line-height: 1.3;
        margin: 0;
        max-width: 900px;
        margin: 0 auto;
        text-transform: uppercase;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .quote-area {
        padding: {
            top: 20px;
            bottom: 20px;
        };
    }
    .quote-content {
        padding: 0 20px;

        p {
            font-size: 18px;
            line-height: 1.5;
            max-width: 100%;
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .quote-area {
        padding: {
            top: 30px;
            bottom: 30px;
        };
    }
    .quote-content {
        p {
            font-size: 24px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .quote-content {
        p {
            font-size: 28px;
        }
    }
}

