.fun-facts-area {
    background-color: var(--whiteColor);
}
.single-fun-fact {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    background-color: var(--color-secundario);
    padding: 30px 40px;
    z-index: 1;
    transition: var(--transition);
    border-radius: 0;

    .icon {
        font-size: 50px;
        color: var(--mainColor);
        line-height: 1;
        transition: var(--transition);
    }
    h3 {
        position: relative;
        font-size: 48px;
        transition: var(--transition);
        margin: {
            top: 15px;
            bottom: 5px;
        };
    }
    p {
        line-height: initial;
        transition: var(--transition);
        font-size: 21px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0%;
        background: var(--mainColor);
        border-radius: 0;
        transition: var(--transition);
    }
    &:hover {
        &::before {
            height: 100%;
        }
        .icon {
            color: var(--whiteColor);
        }
        h3 {
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-fun-fact {
        padding: 20px 15px;
    
        .icon {
            font-size: 35px;
        }
        h3 {
            font-size: 30px;
            margin-top: 12px;
        }
        p {
            font-size: 16px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-fun-fact {
        padding: 25px 15px;
    
        .icon {
            font-size: 40px;
        }
        h3 {
            font-size: 36px;
        }
        p {
            font-size: 18px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-fun-fact {
        padding: 30px;
    
        .icon {
            font-size: 45px;
        }
        h3 {
            font-size: 42px;
        }
        p {
            font-size: 19px;
        }
    }

}