.fun-facts-area {
    background-color: var(--whiteColor);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.fun-facts-row {
    margin: 0;
    width: 100%;
    gap: 2px;
    
    > .col {
        padding: 0 1px;
    }
}
.single-fun-fact {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    background-color: var(--color-secundario);
    padding: 15px 20px;
    z-index: 1;
    transition: var(--transition);
    border-radius: 0;
    height: 100%;

    .icon {
        font-size: 32px;
        color: var(--mainColor);
        line-height: 1;
        transition: var(--transition);
        margin-right: 15px;
        flex-shrink: 0;
    }
    
    .fun-fact-content {
        flex: 1;
        text-align: left;
        
        h3 {
            position: relative;
            font-size: 28px;
            transition: var(--transition);
            margin: {
                top: 0;
                bottom: 3px;
            };
        }
        p {
            line-height: 1.3;
            transition: var(--transition);
            font-size: 14px;
            margin: 0;
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0%;
        background: var(--mainColor);
        border-radius: 0;
        transition: var(--transition);
    }
    &:hover {
        &::before {
            height: 100%;
        }
        .icon {
            color: var(--whiteColor);
        }
        .fun-fact-content {
            h3 {
                color: var(--whiteColor);
            }
            p {
                color: var(--whiteColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-fun-fact {
        padding: 12px 15px;
    
        .icon {
            font-size: 24px;
            margin-right: 12px;
        }
        
        .fun-fact-content {
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 12px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-fun-fact {
        padding: 14px 18px;
    
        .icon {
            font-size: 28px;
            margin-right: 14px;
        }
        
        .fun-fact-content {
            h3 {
                font-size: 24px;
            }
            p {
                font-size: 13px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-fun-fact {
        padding: 15px 20px;
    
        .icon {
            font-size: 30px;
            margin-right: 15px;
        }
        
        .fun-fact-content {
            h3 {
                font-size: 26px;
            }
            p {
                font-size: 14px;
            }
        }
    }

}